{$BACKEND_HOSTNAME} {

    encode zstd gzip

    reverse_proxy backend:8080 {
        flush_interval -1
    }

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}